<p id="notice"><%= notice %></p>
<style>
    body{
        margin: 10px;
    }
    .something{
        display: inline-block;
        margin: 10px;
        box-shadow: 0 0 5px #999;
        border: 6px solid #fff;
        margin-right: 20px;
    }
</style>
<br>
<h1>Listing Products</h1>

<br>

<table>
  <tbody>
    <% @products.each do |product| %>
        <% if (product.private == false && product.product_type == @p) || (product.private == false && product.product_type == @p2) || (product.private == false && @p3 == 3)%>
        <tr>
        <div class="something">
            <center><b><%= product.name %></b><center><br>
            <%= image_tag product.filename, :size => "100x100" %><br>
            <center><%= "$ #{product.price}" %><br><center>
            <% if current_user.admin == false %>
                <%= link_to "Add to Cart", product_path(product), :class => "btn btn-primary" %>
            <% end %>
            <% if current_user.admin == true %>
                  <%= link_to 'Edit', edit_product_path(product), :class => "btn btn-primary" %>
                  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-primary"%>
            <% end %>
        </div>
        </tr>
        <% end %>
        <% if (product.private == true && current_user.admin == true)%>
        <tr>
        <div class="something">
            <center><b><%= product.name %></b><center><br>
            <%= image_tag product.filename, :size => "100x100" %><br>
            <center><%= "$ #{product.price}" %><br><center>
            <% if current_user.admin == true %>
                  <%= link_to 'Edit', edit_product_path(product), :class => "btn btn-warning" %>
                  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-warning"%>
            <% end %>
        </div>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user.admin == true %>
    <%= link_to 'New Product', new_product_path, :class => "btn btn-primary" %>
<% end %>
