<p id="notice"><%= notice %></p>
<style>
    body{
        margin: 10px;
    }
    .something{
        display: inline-block;
        margin: 10px;
        box-shadow: 0 0 5px #999;
        border: 6px solid #fff;
        margin-right: 20px;
    }
</style>
<!-- < %= link_to "Account" , user_path(current_user) %>-->
<br>
<h1>Listing Products</h1>

<br>

<table>
<!--
  <thead>
    <tr>
      <th>Name</th>
      <th>Product type</th>
      <th>Price</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  -->

  <tbody>
    <% @products.each do |product| %>
        <% if product.private == false %>
        <tr>
        <div class="something">
            <center><b><%= product.name %></b><center><br>
            <%= image_tag product.filename, :size => "100x100" %><br>
            <center><%= "$ #{product.price}" %><br><center>
            <% if current_user.admin == false %>
                <%= link_to "Add to Cart", product_path(product), :class => "btn btn-primary" %>
            <% end %>
            <% if current_user.admin == true %>
                        <%= link_to 'Edit', edit_product_path(product), :class => "btn btn-primary" %>
                        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-primary"%>
        <% end %>
        </div>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user.admin == true %>
    <%= link_to 'New Product', new_product_path, :class => "btn btn-primary" %>
<% end %>
