<p id="notice"><%= notice %></p>
<style>
    body{
        padding: 10px;
    }
    .addy{
        height: 200px;
        float: left;
        padding: 10px;
        width: 40%;
        margin: 10px;
        border: 6 solid #fff;
    }
    .creddy{
        height: 200px;
        float: left;
        padding: 10px;
        width: 40%;
        margin: 10px;
        border: 6 solid #fff;
    }

    .cle{
        clear: both;
    }
</style>

<h1>Listing Carts</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
            <% if current_user.id == cart.user.id && current_user.admin == false%>
            <div class="list">
                <td><%= cart.product.name %></td>
                <td><center><%= "$ #{cart.product.price}" %><center></td>
                <td><center>
                        <%= cart.quantity %>
                </center></td>
                    <td><%= link_to 'Delete', cart, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
            <% end %>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
      <hr>
<div class="checkout">
    <% @total_sum = 0 %>
    <% @carts.each do |cart| %>
        <% if current_user.id == cart.user_id && current_user.admin == false%>
            <% @total_sum += (cart.product.price * cart.quantity)%>
        <% end %>
    <% end %>
    <% if @total_sum != 0 %>
    <b><%= "TAX 8.25% " %></b><br>
    <% @total_sum *= 1.0825 %>
    <% @total_sum = @total_sum.round(2) %>
    <b><%= "Total Price: $#{@total_sum}" %></b><br>
        <%= link_to "Check Out", checkout_index_path, :class => "btn btn-primary"%>
</div>
<br>
<hr>
<div class="addy">
<h3>Deliver Address</h3>
<% @users.each do |user| %>
    <% user.addresses.each do |address| %>
        <% if current_user.id == user.id %>
            <b>Building: </b>
            <%= address.line_1_building %><br>
            <b>Street: </b>
            <%= address.line_2_street %><br>
            <b>City: </b>
            <%= address.city %><br>
            <b>Zipcode: </b>
            <%= address.zipcode %><br>
            <b>Country: </b>
            <%= address.country %><br>
        <% end %>
        <% break %>
    <% end %>
<% end %>
</div>
<div class="creddy">
    <h3>Payment Card</h3>
    <% @users.each do |user| %>
        <% user.credit_cards.each do |credit_card| %>
            <% if current_user.id == user.id %>
                <b>Card Number: </b>
                <%= credit_card.card_numbers %><br>
                <b>Expire: </b>
                <%= credit_card.expire %><br>
                <b>CVS:</b>
                <%= "***" %><br>
            <% end %>
            <% break %>
        <% end %>
    <% end %>
</div>


<% end %>

<br>
<br>
<div class="cle">
    <%= link_to "Back", root_url(:item3 => 3), :class => "btn btn-primary" %>
</div>
<!--%= link_to 'New Cart', new_cart_path %-->
