<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @cart.product.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @cart.user.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cart.quantity %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', product_carts_path(@cart.products)  %>
