<%if current_user.admin == true %>
    <center><h2>Admin Account</h2></center>
<% else %>
    <center><h2>My Account</h2></center>
<% end %>

<style>
    body{
        margin: 10px;
    }
    .account{
        height: 200px;
        float: left;
        padding: 10px;
        width: 20%;
        margin: 10px;
        box-shadow: 0 0 5px #999;
        border: 6 solid #fff;
    }
    .leftDiv{
        height: 200px;
        float: left;
        padding: 10px;
        width: 20%;
        margin: 10px;
        box-shadow: 0 0 5px #999;
        border: 6 solid #fff;
    }

    .oky{
        float: left;
        width: 20%;
        padding: 10px;
        height: 200px;
        margin: 10px;
        box-shadow: 0 0 5px #999;
        border: 6 solid #fff;
    }

    .renLeft{
        clear: both;
        float: left;
        width: 20%;
        padding: 10px;
        height: 420px;
        margin: 10px;
        box-shadow: 0 0 5px #999;
        border: 6 solid #fff;
    }

    .rR{
        float: left;
        width: 20%;
        padding: 10px;
        height: 420px;
        margin: 10px;
        box-shadow: 0 0 5px #999;
        border: 6 solid #fff;
    }
    .don{
        clear: both;
    }
</style>
<div class="account">
    <b>User ID: </b>
    <%= current_user.id %><br>
    <b>Name: </b>
    <%= current_user.name %><br>
    <b>Last Name: </b>
    <%= current_user.last_name %><br>
    <b>Email: </b>
    <%= current_user.email %><br>
    <b>Phone: </b>
    <%= current_user.phone %><br>
</div>
<% @user.addresses.each do |address| %>
    <% if !address.new_record? %>
            <div class="leftDiv">
                <b>Line_1_building: </b>
                <%= address.line_1_building %><br>
                <b>Line_2_street: </b>
                <%= address.line_2_street %><br>
                <b>City: </b>
                <%= address.city %><br>
                <b>State: </b>
                <%= address.state %><br>
                <b>Zipcode: </b>
                <%= address.zipcode %><br>
                <b>Country: </b>
                <%= address.country %><br>
                <center>
                    <%= link_to "Edit", edit_address_path(address), :class => "btn btn-primary"%> 
                    <%= link_to 'Destroy', address, method: :delete, data: {confirm: 'Are you sure?' }, :class => "btn btn-primary" %>
                </center>
            </div>
    <% end %>
<% end %>
        <% @user.credit_cards.each do |credit_card| %>
            <% if !credit_card.new_record? %>
                <div class="oky">
                        <b>Credit Card Number: </b>
                        <%= credit_card.card_numbers %><br>
                        <b>Expire: </b>
                        <%= credit_card.expire %><br>
                        <b>CVS: </b>
                        <%= "***" %><br>
                        <br>
                        <br>
                        <%= link_to "Edit", edit_credit_card_path(credit_card), :class => "btn btn-primary" %>
                        <%= link_to "Delete", credit_card, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-primary" %>
                    </div>
            <% end %>
        <% end %>
<div class="renLeft">
<h4> Add Address</h4>
<%= render 'addresses/form' %>
</div>
<br>
<div class="rR">
    <h4> Add Credit Card </h4>
<%= render 'credit_cards/form' %>
</div>
<br>
<div class="don">
    <%= link_to "Edit Account", edit_user_registration_path, :class => "btn btn-primary"%>
    <%= link_to "Back", root_url, :class => "btn btn-primary"%>
</div>
