<p id="notice"><%= notice %></p>

<p>
  <strong>Line 1 building:</strong>
  <%= @address.line_1_building %>
</p>

<p>
  <strong>Line 2 street:</strong>
  <%= @address.line_2_street %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>User:</strong>
  <%= @address.user %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', user_path %>
